body {
    background: #e2dcd7;
    text-align: center;
}
h1 {
    font-family: "Futura", sans-serif;
    margin-bottom: 25px;
    color: #70665f;
    margin-top: 40px;
}
.wrap {
    margin: 0px auto;
    margin-bottom: 50px;
    padding: 16px;
    text-align: center;
    vertical-align: middle;
    background: black;
    -webkit-box-shadow: 0px 40px 60px -20px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 40px 60px -20px rgba(0, 0, 0, 0.3);
}

.screenprint .inkGroup, 
.screenprint .printGroup, 
.screenprint .bitmapGroup, 
.screenprint .artGroup, 
.screenprint .teeGroup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

/* INKS */
button {
    border-style: none;
    border-radius: 6px;
    width: 10%;
    height: 40px;
}
button:focus {
    outline: none;
}
button.ink:hover {
    opacity: 0.6;
}
button.ink.active {
    opacity: 0.6;
}
.i1 {
    background: rgba(255, 255, 255, 0.7);
}
.i2 {
    background: rgba(147, 121, 208, 1);
}
.i3 {
    background: rgba(232, 30, 117, 1);
}
.i4 {
    background: rgba(255, 111, 32, 1);
}
.i5 {
    background: rgba(255, 255, 255, 1);
}

/*MEDIA QUERIES*/
@media (min-width: 800px){
    .inkText {
        color: black;
        font-weight: bold;
        font-size: 12px
    }
    .reset {
        background: rgba(255, 255, 255, 0.2);
        color: white;
        font-size: 12px;
    }   
    .bitmapGroup {
        border: 2px solid #474747;
        height: 500px;
    }    
}
@media (max-width: 799px){
    .inkText {
        font-size: 0px;
    }
    .reset {
        background: rgba(255, 255, 255, 0.2);
        font-size: 0px;
    }
    .bitmapGroup {
        border: 2px solid #474747;
        height: 280px;
    }    
}


/* PRINTS*/
.p1 {
    background: url(http://www.oxleberry.com/interactive/screenprints/hrb/images/p1.png);
    opacity: 0.7;
}
.p2 {
    background: url(http://www.oxleberry.com/interactive/screenprints/hrb/images/p2.png);
    opacity: 1;
}
.p3 {
    background: url(http://www.oxleberry.com/interactive/screenprints/hrb/images/p3.png);
    opacity: 1;
}
.p4 {
    background: url(http://www.oxleberry.com/interactive/screenprints/hrb/images/p4.png);
    opacity: 1;
}
.p5 {
    background: url(http://www.oxleberry.com/interactive/screenprints/hrb/images/p5.png);
    opacity: 1;
}
.pAll {
    background: url(http://www.oxleberry.com/interactive/screenprints/hrb/images/p0.png);
    opacity: 1;
}
.p1, .p2, .p3, .p4, .p5, .pAll {
    background-repeat: no-repeat;
    background-position: 15%;
    /*ADJUSTS THE PLACEMENT*/
}
.pBefore,
.pAfter {
    position: relative;
    height: 400px;
    width: 50%;
    margin: 5px;
    padding: 5px;
}
.print {
    left: 0%;
    top: 0%;
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: 500px;
}
.printGroup {
    border: 2px solid #474747;
}

/*BITMAP*/
.b1 {   
    background: url(images/bit1.png); 
    opacity: 0.7;
}
.b2 {
    background: url(images/bit2.png);
    opacity: 1; 
}
.b3 {
    background: url(images/bit3.png); 
    opacity: 1;
}
.b4 {
    background: url(images/bit4.png); 
    opacity: 1;
}
.b5 {
    background: url(images/bit5.png); 
    opacity: 1;
}
.bAll {   
    background: url(images/bitAll.png); 
    opacity: 1;
}
.b0, .b1, .b2, .b3, .b4, .b5, .bAll {
    background-size: 265%;
    background-repeat: no-repeat;
    background-position: 60% 29%;
    /*ADJUSTS THE PLACEMENT*/
}
.bBefore, .bAfter {
    position: relative;
    width: 50%;
    margin: 5px;
    padding: 5px; 
}
.bBefore{
    z-index: 8;
}
.bitmap {
    left: 0%;
    top: 0%;
    position: absolute;
    height: 100%;
    width: 100%;
}

/* ANIMATION */
.slideRT {
            animation: slideRT 1.5s ease-in-out 1 forwards;
}
.slideLT {
            animation: slideLT 1.5s ease-in-out 1 forwards;
}
@keyframes slideRT {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(102%);
    }
}
@keyframes slideLT {
    0% {
        transform: translateX(102%);
    }
    100% {
        transform: translateX(0px);
    }
}
